@use '../../abstracts' as *;

.section {
    --_section-padding-y:                                   var(--section-padding-y, var(--size-fluid-4));

    background: var(--theme-color-background);
    color: var(--theme-color-text, var(--color-text));
    padding: var(--_section-padding-y) 0;

    &__header {
        display: grid;

        &--center {
            justify-items: center;
        }
    }

    &__heading {
        color: var(--theme-color-heading, var(--color-heading));
        max-inline-size: var(--size-header-3);
    }
}