.icon {
  --accent-color: var(--icon-fill-color);
  --icon-color: var(--accent-color);
  height: 1.5em;

  &.-square,
  &.-circle {
    aspect-ratio: 1;
    background: var(--accent-color);
    --icon-color: var(--icon-stroke-color);
    display: inline grid;
    padding: .3125em;
  }

  &.-square {
    border-radius: .25em;
  }

  &.-circle {
    /* Using clip-path to avoid clipping the icons. */
    clip-path: circle(calc(50% - .5px));
  }
}
