.icon {
  --icon-color: var(--accent-color);
  aspect-ratio: 1;
  height: 1.5em;

  &.-square,
  &.-circle {
    background: var(--accent-color);
    --icon-color: var(--icon-stroke-color);
    display: inline grid;
    padding: .3125em;
  }

  &.-square {
    border-radius: .25em;
  }

  &.-circle {
    /* Using clip-path to avoid clipping the icons. */
    clip-path: circle(calc(50% - .5px));
  }
}
