.icon {
  --accent-color: var(--icon-fill-color);
  --icon-color: var(--accent-color);
  height: 1.5em;

  &.-boxed,
  &.-circled {
    aspect-ratio: 1;
    background: var(--accent-color);
    --icon-color: var(--icon-stroke-color);
    display: inline grid;
    padding: .3125em;
  }

  /* Using clip-path to avoid clipping the icons. */
  &.-boxed {
    clip-path: rect(auto auto auto auto round .25em);
  }

  &.-circled {
    clip-path: circle();
  }
}
