@use '@/core' as *;

.logoGrid {
  $b: &;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: fluid-rems(2, 3);
  justify-content: center;
  align-items: center;
  width: 100%;

  &__item {
    height: fluid-rems(5, 7.5);
    max-width: 230px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img,
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    margin-bottom: 0;
  }

  &__link {
    @include pseudo-link();
  }
}
