:root {
  --root-gap: 16px;

  --root-breakpoint-sm: 320;
  --root-breakpoint-md: 744;
  --root-breakpoint-lg: 1300;

  /* should be max mobile width + tablet outer gutters */
  @media (min-width: 368px) {
    --root-gap: 24px;
  }

  /* should be max tablet width + desktop outer gutters */
  @media (min-width: 808px) {
    --root-gap: 32px;
  }
}
