.section {
  --accent-color: #fff;

  padding: 5rem 0;
  background: var(--accent-color);
  color: var(--accent-color-text);

  &__content {
    align-self: center;
  }
}

.imageWithText {
  --columns: 2;

  @media (min-width: 808px) {
    &__image,
    &__content {
      grid-column: span 1;

      &:first-child {
        grid-column: 2;
      }
    }
  }
}
