:root {
  --fluid-rem-sm-md: clamp(0rem, (100vw - 1px * var(--root-breakpoint-sm)) * 16 / (var(--root-breakpoint-md) - var(--root-breakpoint-sm)), 1rem);
  --fluid-rem-md-lg: clamp(0rem, (100vw - 1px * var(--root-breakpoint-md)) * 16 / (var(--root-breakpoint-lg) - var(--root-breakpoint-md)), 1rem);
  --fluid-rem-sm-lg: clamp(0rem, (100vw - 1px * var(--root-breakpoint-sm)) * 16 / (var(--root-breakpoint-lg) - var(--root-breakpoint-sm)), 1rem);
}

@function fluid-rems($size-sm, $size-md, $size-lg: null) {
  @if ($size-lg == null) {
    @return calc(#{$size-sm * 1rem} + var(--fluid-rem-sm-lg) * #{$size-md - $size-sm});
  } @else {
    @return calc(#{$size-sm * 1rem} + var(--fluid-rem-sm-md) * #{$size-md - $size-sm} + var(--fluid-rem-md-lg) * #{$size-lg - $size-md});
  }
}
