@use "@/core" as *;
@use "../_shared" as *;

.twoColumnElegant {
  &__grid {
    display: grid;
    gap: 2rem;

    @include at(md) {
      gap: 3rem;
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    @include at(lg) {
      grid-template-columns: minmax(0, 28%) minmax(0, 72%);
    }
  }

  &__intro {
    @include textBasedStickyAside;
  }

  &__introText {
    color: var(--color-gray-500);
    font-size: var(--root-font-size-lg);
    line-height: 1.5;
    margin: 0;
  }

  &__body {
    min-width: 0;
    color: var(--color-gray-600);
  }
}
