input[type=radio],
.radio {
  appearance: none;
  background: var(--color-gray-50);
  border: 2px solid var(--color-gray-500);
  border-radius: 2em;
  display: inline grid;
  height: 1.5em;
  width: 1.5em;

  &::before {
    content: '';
    border-radius: 2em;
  }

  &:hover {
    border-color: var(--color-gray-700);
  }

  &.-checked,
  &:checked {
    background: var(--accent-color);
    border-color: var(--accent-color);

    &::before {
      background: radial-gradient(var(--accent-color-contrast) .5em, #0000 calc(.5em + 1px));
    }

    &:hover {
      background-color: var(--accent-color-600);
      border-color: var(--accent-color-600);
    }
  }

  &.-disabled,
  &:disabled {
    background: var(--color-gray-50);
    border-color: var(--color-gray-200);

    &:hover {
      background: var(--color-gray-50);
      border-color: var(--color-gray-200);
    }

    &.-checked,
    &:checked {
      &::before {
        background-color: var(--color-gray-200);
      }
    }
  }
}
