/**
 * Base styles
 */

/**
 * Importing modern-normalize for minimal, base styles.
 */
@use 'modern-normalize';

/**
 * Use the defined CSS properties;
 */
html {
  color: var(--root-color);
  font-family: var(--root-font-family);
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

button,
input,
optgroup,
progress,
select,
textarea {
  accent-color: var(--accent-color);
}

p {
  margin: 0;
}

canvas,
img,
picture,
svg,
video {
  height: auto;
  max-width: 100%;
}

a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"]) {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
