/**
 * Typography: use https://modernfontstacks.com/ for fallback fonts.
 */
@property --root-font-family {
  syntax: "*";
  inherits: true;
  initial-value: system-ui, sans-serif;
}

@property --root-font-family-heading {
  syntax: "*";
  inherits: true;
  initial-value: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

@property --root-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --root-font-size-h1 {
  syntax: "<length>";
  inherits: true;
  initial-value: 48px;
}

@property --root-font-size-h2 {
  syntax: "<length>";
  inherits: true;
  initial-value: 40px;
}

@property --root-font-size-h3 {
  syntax: "<length>";
  inherits: true;
  initial-value: 32px;
}

@property --root-font-size-h4 {
  syntax: "<length>";
  inherits: true;
  initial-value: 24px;
}

@property --root-font-size-h5 {
  syntax: "<length>";
  inherits: true;
  initial-value: 20px;
}

@property --root-font-size-h6 {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --root-font-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --root-font-size-sm {
  syntax: "<length>";
  inherits: true;
  initial-value: 12px;
}

@property --root-font-size-lg {
  syntax: "<length>";
  inherits: true;
  initial-value: 24px;
}

@property --root-line-height {
  syntax: "<number>";
  inherits: true;
  initial-value: 1.5;
}

/**
 * Colors
 */
@property --root-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #666666;
}

@property --root-color-inactive {
  syntax: "<color>";
  inherits: true;
  initial-value: #999999;
}

@property --root-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #b3b3b3;
}

@property --root-background-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

@property --root-background-color-inactive {
  syntax: "<color>";
  inherits: true;
  initial-value: #cccccc;
}

/**
 * Icons
 */
@property --root-icon-fill-color {
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --root-icon-stroke-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #fff;
}

@property --root-icon-stroke-width {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

@property --icon-fill-color {
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --icon-stroke-color {
  syntax: "<color>";
  inherits: true;
  initial-value: currentColor;
}

@property --icon-stroke-width {
  syntax: "<number>";
  inherits: true;
  initial-value: 2;
}

/**
 * Breakpoints
 */
@property --root-breakpoint-sm {
  syntax: "<number>";
  inherits: true;
  initial-value: 320;
}

@property --root-breakpoint-md {
  syntax: "<number>";
  inherits: true;
  initial-value: 744;
}

@property --root-breakpoint-lg {
  syntax: "<number>";
  inherits: true;
  initial-value: 1300;
}

/**
 * Spacing
 */
@property --root-border-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 2px;
}

@property --root-border-radius {
  syntax: "<length>";
  inherits: true;
  initial-value: 4px;
}

@property --root-gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --root-padding-block {
  syntax: "<length>";
  inherits: true;
  initial-value: 16px;
}

@property --root-padding-inline {
  syntax: "<length>";
  inherits: true;
  initial-value: 32px;
}

/**
 * Box Shadows
 */
@property --root-box-shadow-low {
  syntax: "*";
  inherits: true;
  initial-value: 0px 16px 64px rgba(0, 0, 0, 0.05);
}

@property --root-box-shadow-med {
  syntax: "*";
  inherits: true;
  initial-value: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

@property --root-box-shadow-high {
  syntax: "*";
  inherits: true;
  initial-value: 0px 16px 64px rgba(0, 0, 0, 0.05);
}

/**
 * Durations 
 */
@property --root-duration-fast {
  syntax: "<time>";
  inherits: true;
  initial-value: 150ms;
}

@property --root-duration-moderate {
  syntax: "<time>";
  inherits: true;
  initial-value: 250ms;
}

@property --root-duration-slow {
  syntax: "<time>";
  inherits: true;
  initial-value: 400ms;
}

/**
 * Easings (timing functions)
 */ 
@property --root-ease-in {
  syntax: "*";
  inherits: true;
  initial-value: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@property --root-ease-out {
  syntax: "*";
  inherits: true;
  initial-value: cubic-bezier(0.23, 1, 0.32, 1);
}

@property --root-ease-in-out {
  syntax: "*";
  inherits: true;
  initial-value: cubic-bezier(0.86, 0, 0.07, 1);
}
