@use '@/core' as *;

.accordionGroup {
  &.-horizontal {
    @include breakpoint(md) {
      --accordionGroup-logo-width: 7rem;

      display: flex;
      gap: 1rem;
      aspect-ratio: 3;
    }
  }
}
