@use "@imarc/pronto/resources/styles/imported" as pronto;

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;

    &__list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: pronto.fluid-rems(.5, 1);
        width: fit-content;
    }

    &__button {
       --accent-color: var(--accent-secondary-700);
       --link-color: #fff;
    }

    &__icon {
        aspect-ratio: 1.5;
        block-size: pronto.fluid-rems(.5, 1);
        color: var(--link-color);
    }

    &__link,
    &__current,
    &__skip {
        aspect-ratio: 1;
        background: var(--accent-color);
        border-radius: 0.25rem;
        color: var(--link-color);
        display: grid;
        font-size: pronto.fluid-rems(.5, 1);
        font-weight: 700;
        line-height: 1;
        width: pronto.fluid-rems(2, 2.5);
        height: pronto.fluid-rems(2, 2.5);
        place-items: center;
    }

    &__link {
        text-decoration: none;
        transition:
            background-color var(--duration-fast) var(--ease-out),
            color var(--duration-fast) var(--ease-out);

        &:hover {
            background: var(--accent-color-700);
            color: var(--link-color);
        }
    }

    &__current {
        background: var(--color-gray-100);
        color: var(--accent-color-700);
    }

    &__skip {
        background: var(--color-gray-200);
        color: var(--accent-color-700);
    }
}