a,
.link {
  --accent-color: var(--link-color, var(--color-blue));

  color: var(--accent-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 1em;

  &:where(button) {
    appearance: none;
    background: #0000;
    border: 0;
  }

  svg {
    display: inline;
    height: 1cap;
  }

  &:hover {
    color: var(--accent-color-700);
  }

  &__icon {
    aspect-ratio: 1.5;
    color: inherit;
    flex: 0 0 auto;
    max-height: 1cap;
    transition: color var(--root-duration-fast) var(--root-ease-out);
  }

  &.-wide {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
  }
}
