@use "@/core" as *;
@use "../_shared" as *;

.introAsideCardList {
  background: var(--color-gray-50);
  color: var(--root-color);
  padding-block: 4rem;

  &.section {
    --accent-color: var(--color-gray-50);
  }

  &__layout {
    align-items: start;
    display: grid;
    gap: 2rem;

    @include at(md) {
      gap: 2rem;
      grid-template-columns: minmax(0, 1fr) minmax(0, 2.2fr);
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    @include textBasedStickyAside;
  }

  &__intro {
    font-size: var(--root-font-size-sm);
    margin: 0;
  }
}
