@use '../mixins/links' as *;
@use '../mixins/typography' as *;

@mixin rich-text() {
    --_list-padding-inline-start:                   var(--list-padding-inline-start, var(--size-fluid-4));
    --_text-max-inline-size:                        var(--text-max-inline-size, var(--size-content-4));
    --_text-color:                                  var(--text-color, var(--section-color-text, var(--color-neutral-1000)));
    --_text-font-family:                            var(--text-font-family, var(--font-sans));
    --_text-font-size:                              var(--text-font-size, var(--paragraph-size-md));
    --_text-font-weight:                            var(--text-font-weight, var(--font-weight-regular));
    --_text-line-height:                            var(--text-line-height, var(--leading-paragraph));

    color: var(--_text-color);
    font-family: var(--_text-font-family);
    font-size: var(--_text-font-size);
    font-weight: var(--_text-font-weight);
    line-height: var(--_text-line-height);
    max-inline-size: var(--_text-max-inline-size);
    overflow-wrap: break-word;
    word-break: break-word;

    :where(p) {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    :where(a) {
        @include inline-link();
    }

    :where(ul, ol) {
        --_list-row-gap:            var(--list-row-gap, var(--size-1));

        display: grid;
        gap: var(--_list-row-gap);
        list-style: none;
        padding-inline-start: var(--_list-padding-inline-start);

        &[svg-marker] li,
        li[svg-marker] {
            --icon-fill-color: var(--color-primary-500);
            --list-marker-block-size: 1.2em;
            --list-marker-inline-size: 1.2em;
            &::before {
                content: none;
            }

            svg {
                block-size: var(--_list-marker-block-size);
                object-fit: contain;
                inline-size: var(--_list-marker-inline-size);
                margin-block-start: var(--_list-margin-block-start);
            }
        }

        :where(li) {
            --_list-margin-block-start: calc( ( var(--_text-font-size) * var(--_text-line-height) - var(--_list-marker-block-size) ) / 2 );
            display: grid;
            gap: var(--size-1);
            grid-template-columns: var(--_list-marker-inline-size) auto;
            position: relative;

            &::marker {
                font-size: 0; // Safari doesn't recognize display: none;
            }

            > :where(ul, ol) {
                grid-column-start: 2;
                padding-inline-start: 0;
            }

        }
    }

    :where(ul) {
        &[icon-marker] li,
        li[icon-marker] {
            --list-marker-block-size: 1.2em;
            --list-marker-inline-size: 1.2em;
            --list-marker-color-background: transparent;

            &::before {
                background-image: var(--list-background-image);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &[icon-marker='check'] li,
        li[icon-marker='check'] {
            --list-background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23E6CCFF'/%3E%3Cpath d='M6 12L10 16L18 8' stroke='%238000FF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }

        &[icon-marker='positive'] li,
        li[icon-marker='positive'] {
            --list-background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%2328C642'/%3E%3Cpath d='M6 12L10 16L18 8' stroke='%23EBFFEE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E ");
        }

        &[icon-marker='negative'] li,
        li[icon-marker='negative'] {
            --list-background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23E53411'/%3E%3Cpath d='M6 12H18' stroke='%23FFF3F1' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E ");
        }

        :where(li) {
            --_list-marker-block-size:              var(--list-marker-block-size, 0.5em);
            --_list-marker-inline-size:             var(--list-marker-inline-size, 1em);
            --_list-marker-color-background:        var(--list-marker-color-background, var(--section-color-accent, var(--color-primary-500)));

            &::before {
                background: var(--_list-marker-color-background);
                block-size: var(--_list-marker-block-size);
                border-radius: 1em;
                content: var( --list-marker-content, '');
                inline-size: var(--_list-marker-inline-size);
                margin-block-start: var(--_list-margin-block-start);
            }

            li {
                --list-marker-color-background: var(--section-color-highlight, var(--color-primary-200));
                --list-marker-block-size: 0.25em;
            }
        }

    }

    :where(ol) {
        counter-reset: list-counter;

        :where(li) {
            --_list-marker-block-size:              var(--list-marker-block-size, 2.5em);
            --_list-marker-color-background:        var(--list-marker-color-background, var(--section-color-accent, var(--color-primary-500)));
            --_list-marker-color-text:              var(--list-marker-color-text, var(--section-color-background-neutral, var(--color-neutral-0)));
            --_list-marker-font-size:               var(--list-marker-font-size, 0.75em);
            --_list-marker-inline-size:             var(--list-marker-inline-size, var(--_list-marker-block-size));
            counter-increment: list-counter;

            &::before {
                background: var(--_list-marker-color-background);
                block-size: var(--_list-marker-block-size);
                border-radius: var(--radius-round);
                color: var(--_list-marker-color-text);
                content: var( --list-marker-content, counters(list-counter, "."));
                display: grid;
                font-size: var(--_list-marker-font-size);
                font-weight: var(--font-weight-bold);
                inline-size: var(--_list-marker-inline-size);
                margin-block-start: var(--_list-margin-block-start);
                place-items: center;
            }

            li {
                --list-marker-color-background:     var(--section-color-highlight, var(--color-primary-200));
                --list-marker-color-text:           var(--section-color-accent, var(--color-primary-500));
            }
        }
    }

    :where(p, ul, ol, dl, blockquote, pre) {
        + * {
            margin-block-start: var(--size-3);
        }
    }

    :where(hr) {
        border-width: 0;
        color: var(--section-color-accent, var(--color-primary-400));
        display: grid;
        margin-block: var(--section-padding-y, var(--size-fluid-4));
        place-items: center;

        &::before,
        &::after {
            grid-area: 1 / 1 / 1 / 1;
        }

        &::before {
            background: currentColor;
            block-size: 0.125rem;
            content: '';
            inline-size: 100%;
        }

        &::after {
            --_accent-size: 0.375rem;
            --_space-size: 0.5rem;
            --_space-color: var(--section-color-background, var(--color-neutral-0));
            --_stop-1: var(--_space-size);
            --_stop-2: calc(var(--_accent-size) + var(--_space-size));

            background: repeating-linear-gradient(90deg, var(--_space-color), var(--_space-color) var(--_stop-1), currentColor var(--_stop-1), currentColor var(--_stop-2));
            block-size: var(--_accent-size);
            content: '';
            inline-size: calc((var(--_accent-size) * 3) + (var(--_space-size) * 4));
        }
    }

    :where(pre, code) {
        direction: ltr;
        text-align: start;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    :where(code) {
        background: var(--section-color-highlight, var(--color-neutral-500));
        border-radius: var(--radius-2);
        color: var(--section-color-accent, var(--color-neutral-0));
        font-family: var(--font-mono);
        font-size: var(--text-font-size, 1em);
        letter-spacing: var(--tracking-wider);
        padding: 0.60em;
    }

    :where(pre) {
        --_pre-color-background:                var(--section-color-highlight, var(--color-neutral-500));
        --_pre-padding-block-start:             var(--pre-padding-block-start, var(--size-3));
        --_pre-padding-block-end:               var(--pre-padding-block-end, var(--size-3));
        --_pre-padding-inline-start:            var(--pre-padding-inline-start, var(--size-3));
        --_pre-padding-inline-end:              var(--pre-padding-inline-end, var(--size-3));
        background: var(--_pre-color-background);
        border-radius: var(--radius-2);
        display: flex;
        inline-size: 100%;
        overflow: hidden;
        padding: var(--_pre-padding-block-start) 0 var(--_pre-padding-block-end);
        position: relative;

        &[data-lang] {
            --_pre-padding-block-start:        var(--pre-padding-block-start, var(--size-4));

            &::before {
                background: var(--section-color-accent, var(--color-neutral-0));
                border-radius: var(--radius-2);
                color: var(--section-color-background, var(--color-neutral-500));
                content: attr(data-lang);
                font-family: var(--font-mono);
                font-size: 0.625em;
                font-weight: var(--font-weight-bold);
                letter-spacing: var(--tracking-wider);
                line-height: 1;
                padding: 1em 0.75em;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
            }

            &::after {
                background-image:
                    linear-gradient(90deg,  var(--_pre-color-background) 0%, transparent calc(0.75em + var(--_pre-padding-inline-start))),
                    linear-gradient(270deg, var(--_pre-color-background) 0%, transparent calc(0.75em + var(--_pre-padding-inline-end)));
                content: '';
                inset: 0;
                pointer-events: none;
                position: absolute;
            }
        }

        :where(code) {
            background: none;
            border-radius: 0;
            overflow-x: auto;
            padding: 0 var(--_pre-padding-inline-end) 0 var(--_pre-padding-inline-start);
        }
    }

    :where(blockquote) {
        --quote-border-color: var(--section-color-accent, var(--color-primary-500));
        --quote-border-width: 0.75rem;
        color: var(--section-color-accent, var(--color-primary-500));
        font-family: var(--quote-font-family, var(--font-serif));
        font-size: var(--quote-font-size, 1.25em);
        font-style: italic;
        font-weight: var(--font-weight-bold);
        padding-inline-start: calc(var(--size-fluid-3) + var(--quote-border-width));
        padding-inline-end: var(--size-fluid-3);
        position: relative;

        &::before {
            background: var(--quote-border-color);
            block-size: 100%;
            border-radius: var(--radius-4);
            content: '';
            inline-size: var(--quote-border-width);
            inset: 0 auto auto 0;
            position: absolute;
        }

        :where(p) {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        :where(cite) {
            color: var(--section-color-accent, var(--color-primary-500));
            font-family: var(--cite-font-family, var(--font-sans));
            font-size: var(--cite-font-size, 0.75em);
            font-style: normal;
            font-weight: var(--font-weight-medium);
        }
    }
}