@mixin section-themes() {
    &.-themeLight {
        --section-color-background:                                 var(--color-neutral-0);
        --section-color-heading:                                    var(--color-neutral-900);
        --section-color-text:                                       var(--color-neutral-500);
        --section-color-action:                                     var(--color-link-500);
        --section-color-action-hover:                               var(--color-link-700);
        --section-color-accent:                                     var(--color-primary-500);
        --section-color-highlight:                                  var(--color-primary-100);

        --section-color-background-neutral:                         var(--color-neutral-0);
        --section-color-background-neutral-hsl:                     var(--color-neutral-0-hsl);
        --section-color-text-neutral:                               var(--color-neutral-1000);
        --section-color-text-neutral-hsl:                           var(--color-neutral-1000-hsl);
    }

    &.-themeDark {
        --section-color-background:                                 var(--color-neutral-1000);
        --section-color-heading:                                    var(--color-neutral-50);
        --section-color-text:                                       var(--color-neutral-200);
        --section-color-action:                                     var(--color-link-500);
        --section-color-action-hover:                               var(--color-link-700);
        --section-color-accent:                                     var(--color-primary-300);
        --section-color-highlight:                                  var(--color-primary-800);

        --section-color-background-neutral:                         var(--color-neutral-1000);
        --section-color-background-neutral-hsl:                     var(--color-neutral-1000-hsl);
        --section-color-text-neutral:                               var(--color-neutral-0);
        --section-color-text-neutral-hsl:                           var(--color-neutral-0-hsl);
    }

    &.-themePrimaryLight {
        --section-color-background:                                 var(--color-primary-100);
        --section-color-heading:                                    var(--color-primary-900);
        --section-color-text:                                       var(--color-primary-700);
        --section-color-action:                                     var(--color-link-500);
        --section-color-action-hover:                               var(--color-link-700);
        --section-color-highlight:                                  var(--color-primary-200);

        --section-color-background-neutral:                         var(--color-neutral-0);
        --section-color-background-neutral-hsl:                     var(--color-neutral-0-hsl);
        --section-color-text-neutral:                               var(--color-neutral-1000);
        --section-color-text-neutral-hsl:                           var(--color-neutral-1000-hsl);
    }

    &.-themePrimaryDark {
        --section-color-background:                                 var(--color-primary-800);
        --section-color-heading:                                    var(--color-primary-50);
        --section-color-text:                                       var(--color-primary-100);
        --section-color-action:                                     var(--color-link-500);
        --section-color-action-hover:                               var(--color-link-700);
        --section-color-highlight:                                  var(--color-primary-700);

        --section-color-background-neutral:                         var(--color-neutral-1000);
        --section-color-background-neutral-hsl:                     var(--color-neutral-1000-hsl);
        --section-color-text-neutral:                               var(--color-neutral-0);
        --section-color-text-neutral-hsl:                           var(--color-neutral-0-hsl);
    }
}