@use "@imarc/pronto/resources/styles/imported" as *;

.slider {
  $b: &;

  --swiper-theme-color: var(--accent-color);

  &__content {
    container-type: inline-size;
    overflow: hidden;
    padding: 0 7rem 6.5rem;
  }

  swiper-slide {
    width: 100cqw;
    height: auto;

    @include at(md) {
      width: auto;
      height: calc(50cqw - 1rem);
    }

    @include at(lg) {
      width: auto;
      height: calc(40cqw - 2rem);
    }
  }

  swiper-container::part(bullet) {
    opacity: 1;
    width: 16px;
    flex-shrink: 0;
    height: 16px;
    background-color: var(--accent-color);
  }

  swiper-container::part(bullet-active) {
    background-color: #000;
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
  }

  swiper-container::part(container) {
    overflow: visible;
  }

  swiper-container::part(pagination) {
    align-items: center;
    bottom: auto;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    text-align: left;
    top: 100%;
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    background: var(--accent-color);
    width: 1rem;
    border-radius: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #fff;
  }

  swiper-container::part(button-prev) {
    position: absolute;
    left: -7rem;
  }

  swiper-container::part(button-next) {
    right: -7rem;
  }

  &.-withCallout {
    #{$b}__content {
      padding: 0 0 11.5rem;
    }

    swiper-container::part(button-prev),
    swiper-container::part(button-next) {
      top: 100%;
      margin-top: 5.25rem;
      z-index: 12;
    }

    swiper-container::part(button-prev) {
      left: 0;
    }

    swiper-container::part(button-next) {
      right: 0;
    }
    swiper-container::part(pagination) {
      margin-top: 6rem;
      justify-content: center;
    }


    @include at(lg) {
      --columns: 3;

      #{$b}__calloutIcon {
        grid-area: 1 / main;
      }

      #{$b}__callout {
        grid-column: main / span 1;
      }
      #{$b}__content {
        grid-column: 3 / main;
      }

      .swiper-slide-next {
        mask: linear-gradient(to right, #fff, #0000 50%);
      }
    }

    #{$b}__callout {
      display: grid;
      gap: 2rem;
    }

    #{$b}__calloutIcon {
      width: 4rem;
      height: 4rem;
    }

    swiper-slide {

      @include at(md) {
        width: calc(66.66cqw);
      }
      height: auto;

      > * {
        height: 100%;
      }
    }
  }
}
