.eyebrow {
  background: var(--accent-color);
  border-radius: .25em;
  color: var(--accent-color-text);
  display: inline flow-root;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .05em;
  padding: .25em 1.5em;
  text-transform: uppercase;
  white-space: nowrap;
}
