/**
 */
.banner {
  background: var(--accent-color);
  border-radius: 4px;
  border: 0;
  color: var(--accent-color-text);
  position: static;
  width: unset;

  &__content {
    align-items: start;
    display: grid;
    grid: auto / 1fr auto;
    gap: 2rem;

    > * {
      grid-column: 1;
    }
  }

  &__button {
    grid-area: 1 / 2;
    align-self: center;
  }

  &__close {
    grid-area: 1 / 2;
    background: #0000;
    border: 0;
    width: 2rem;
    height: 2rem;
    color: var(--accent-color-contrast);

    &:hover {
      background-color: var(--accent-color-600);
    }
  }
}
