@use "@/core" as *;

.twoColumnNested {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .grid.-columns-7 > .cell {
    grid-column: 1 / -1;

    @include at(md) {
      grid-column: span var(--cell-span);
    }
  }

  &__split.grid.-alignEnd {
    @include at(md) {
      align-items: end;
    }
  }

  &__headline {
    --accent-color: var(--color-purple);

    color: var(--accent-color-700);
    margin: 0;
    max-width: 32.6875rem;
    font-size: var(--root-font-size-h2);

    @include at(md) {
      font-size: var(--root-font-size-h1);
    }
  }

  &__intro {
    color: var(--color-gray-500);
    font-size: var(--root-font-size-lg);
    line-height: 1.5;
    margin: 0;
    max-width: 39.625rem;
  }

  &__primary {
    color: var(--color-gray-600);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__stack {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 2rem;
  }

  &__featureTitle {
    margin: 0;
  }

  &__featureText {
    color: var(--color-gray-600);
    font-size: var(--root-font-size-sm);
    margin: 0;
  }
}
