@use "@imarc/pronto/resources/styles/imported" as pronto;

.featuredTestimonials {
    &__title {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: pronto.fluid-rems(2, 3);
        gap: 1.5rem;
        text-align: center;
    }

    &__titleIcon {
        width: pronto.fluid-rems(2, 4);
        height: pronto.fluid-rems(2, 4);
    }

    &__wrapper {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    }
}