.mobileNavigation {
  &__pane {
    background: #fff;
    position: fixed;
    inset: 0 auto 0 0;
    z-index: 1;
    display: grid;
    grid: auto 1fr / 1fr auto;
    place-items: start center;

    &::before {
      content: 'x';
      grid-area: 1 / 2 / -1;
    }
  }

  &__title {
    padding: 1rem 1.5rem;
  }

  &__list > li > a {
    padding: 1rem .5rem 1rem 1.5rem;
    display: grid;
    grid: auto / 1fr auto;
  }

  &__list > li:nth-child(n + 2) > a {
    border-top: 1px solid var(--color-gray-100);
  }

  &__submenu {
    height: 3rem;
    aspect-ratio: 1;
    background: var(--color-gray-100);
    color: var(--accent-color);
    border-radius: 3rem;
    padding: .75rem;
  }
}
