@use "../imported" as pronto;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--root-color-headings);
  line-height: 1.125;
  overflow-wrap: break-word;
  text-wrap: balance;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--root-font-size-h1);
  margin-bottom: #{pronto.fluid-rems(1, 1.5, 2)};
}

h2 {
  font-size: var(--root-font-size-h2);
  margin-bottom: #{pronto.fluid-rems(1, 1.5, 1.5)};
}

h3 {
  font-size: var(--root-font-size-h3);
}

h4 {
  font-size: var(--root-font-size-h4);
}

h5 {
  font-size: var(--root-font-size-h5);
}

/**
 * Creates utility classses .h1, .h2, .h3, .h4, .h5, and .h6.
 */
@each $h in h1 h2 h3 h4 h5 h6 {
  .#{$h} {
    @extend #{$h};
  }
}
