h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--root-color-headings);
  line-height: 1.125;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1 {
  font-size: var(--root-font-size-h1);
}

h2 {
  font-size: var(--root-font-size-h2);
}

h3 {
  font-size: var(--root-font-size-h3);
}

h4 {
  font-size: var(--root-font-size-h4);
}

h5 {
  font-size: var(--root-font-size-h5);
}
