@use '@assets/styles/abstracts' as *;

.section {
    @include section-themes();
    --section-padding-y: var(--size-fluid-4);

    background: var(--section-color-background);
    color: var(--section-color-text);
    padding: var(--section-padding-y) 0;

    &__header {
        display: grid;

        &--center {
            justify-items: center;
        }
    }

    &__heading {
        color: var(--section-color-heading);
        max-inline-size: var(--size-header-3);
    }

}