@use '@/core' as *;

/**
 * @uses PAccordion
 */
.accordion {
  $b: &;

  background: white;
  border-radius: 0.5rem;
  box-shadow: var(--root-box-shadow-low);
  overflow: hidden;

  &::details-content {
    height: 0;
    transition: height var(--accordion-transition-duration, var(--root-duration-slow)) var(--root-ease-out);

    @supports (interpolate-size: allow-keywords) {
      transition:
        content-visibility var(--root-duration-slow) allow-discrete,
        height var(--root-duration-slow) var(--root-ease-out);
    }
  }

  &[open]::details-content {
    height: var(--accordion-height);

    @supports (interpolate-size: allow-keywords) {
      height: auto;
    }
  }

  &__summary {
    --heading-color: var(--root-color-headings);

    place-items: center start;
    border-radius: 0.5rem;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    outline-offset: -2px;
    padding: 0.5rem;
    user-select: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__heading {
    margin: 0;
    padding: 0.25rem 1rem;
  }

  &__iconWrapper {
    background: var(--accent-color);
    display: grid;
    justify-self: end;
    padding: 0.5rem;
  }

  &__icon {
    --icon-color: var(--accent-color-contrast);

    aspect-ratio: 1;
    height: var(--root-font-size-h3);
    transition: transform var(--root-duration-moderate) var(--root-ease-out);
  }

  &__content {
    padding: 0 1.5rem 1.5rem;
  }

  &[open] {
    box-shadow: var(--root-box-shadow-high);

    #{$b}__iconWrapper {
      background: var(--color-gray-200);
    }

    #{$b}__icon {
      --icon-color: #000000;

      transform: rotate(90deg);
    }
  }

  &.-horizontal {
    @include breakpoint(md) {
      flex: 0 1 var(--accordionGroup-logo-width);
      min-width: 0;
      transition: flex var(--root-duration-cinematic) var(--root-ease-out);

      &[open] {
        flex: 1 1 0;
        place-content: center;

        #{$b}__summary {
          grid-template-columns: auto 1fr auto;
          height: auto;
          justify-content: start;
          display: none;
        }

        #{$b}__heading {
          display: block;
          padding-left: 0;
          padding-right: 0;
        }

        #{$b}__iconWrapper {
          display: grid;
        }
      }

      #{$b}__summary {
        height: 100%;
        justify-content: center;
      }

      #{$b}__logo {
        display: block;
        max-height: 5rem;
        width: 100%;
        object-fit: contain;
      }

      #{$b}__heading,
      #{$b}__iconWrapper {
        display: none;
      }
    }
  }
}
