/**
 * @uses PAccordion
 */
.accordion {
    $b: &;

    --accordion-height-closed: calc(2rem + var(--root-font-size-h3));
    background: white;
    border-radius: .5rem;
    box-shadow: var(--root-box-shadow-low);
    height: var(--accordion-height-closed);
    overflow: hidden;
    transition: height var(--root-duration-moderate) var(--root-ease-out);

    &__summary {
        align-items: center;
        border-radius: .5rem;
        cursor: pointer;
        display: grid;
        grid-auto-flow: column;
        justify-items: start;
        list-style: none;
        outline-offset: -2px;
        padding: .5rem;
        user-select: none;

        &::-webkit-details-marker {
          display: none;
        }
    }
    
    &__heading {
        margin: 0;
        padding: .25rem 1rem;
    }
    
    &__iconWrapper {
        background: var(--accent-color);
        display: grid;
        justify-self: end;
        padding: .5rem;
    }
    
    &__icon {
        --icon-color: var(--accent-color-contrast);
        aspect-ratio: 1;
        height: var(--root-font-size-h3);
        transition: transform var(--root-duration-moderate) var(--root-ease-out);
    }
    
    &__content {
        padding: 0 1.5rem 1.5rem;
    }
    
    &[open]:not(&.-closing) {
        height: fit-content;
        box-shadow: var(--root-box-shadow-high);
        
        #{$b}__iconWrapper {
            background: var(--color-gray-200);
        }
        
        #{$b}__icon {
            --icon-color: #000;
            transform: rotate(90deg);
        }
    }
}
