.navigation {
  $b: &;

  &__list {
    display: grid;
    grid-auto-flow: column;
    place-content: end space-between;
    place-items: center;
  }

  &__link,
  &__button {
    border: 0;
    background: #0000;
    color: var(--root-color);
    padding: 1.5rem;
  }

  &__button {
    display: flex;
    gap: .5rem;

    &::after {
      content: '';
      width: .75rem;
      height: 1em;
      background: var(--accent-color);
      transition: rotate var(--root-ease-out-slow);
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 21'%3E%3Cpath d='M34 2L18 18L2 2' fill='none' stroke='black' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E") center no-repeat;
    }
  }

  &__item {
    position: relative;

    &.-wide {
      position: static;

      #{$b}__dropdown {
        width: 100%;
        left: 0;
        border-top: 1px solid var(--accent-color);
        background: var(--color-gray-50);
        max-width: 100%;
      }

      &:has(#{$b}__dropdown) {
        box-shadow: 0 -.5rem 0 inset var(--accent-color);
      }
    }

    &:has(#{$b}__dropdown) {

      #{$b}__button {
        color: #000;

        &::after {
          background: var(--color-gray-600);
          rotate: x 180deg;
        }
      }
    }
  }
}
