.dropdown {
  background: #fff;
  box-shadow: var(--root-box-shadow-med);
  padding: .75rem;
  position: absolute;
  width: max-content;
  z-index: 1;

  transition: opacity var(--root-ease-out-moderate);

  @starting-style {
    opacity: 0;
  }

  &__link,
  &__button {
    background: #0000;
    border: 0;
    color: var(--accent-color);
    display: block;
    padding: .75rem 0;
  }

  &__item {
    position: relative;
  }

  &__list {
    display: grid;
  }

  &__button {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    width: 100%;
  }

  &.-toRight {
    left: 100%;
    top: 0;
  }

  &.-center {
    left: 50%;
    translate: -50%;
  }
  &.-rightAligned {
    right: 0;
  }
}
