.table {
  border-collapse: collapse;

  thead {
    background: var(--color-gray-50);

    th {
      background: var(--color-gray-100);
    }
  }

  tr,
  th {
    transition: background-color var(--root-ease-out-fast);
  }

  td, th {
    padding: 1em 1.5em;
  }

  th {
    text-align: left;
    background: var(--color-gray-50);
  }

  tbody tr:not(:last-child) {
    border-top: 1px solid var(--color-gray-200);
  }

  tr:hover {
    background: var(--accent-color-50);

    th {
      background: var(--accent-color-100);
    }
  }
}
